# Tensorflow: California Census Data 'Income' Classification

In [27]:
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

%matplotlib inline

In [2]:
census = pd.read_csv('data/census_data.csv')
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [4]:
def label_preprocess(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [5]:
census['income_bracket'] = census['income_bracket'].apply(label_preprocess)

In [6]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [8]:
X_data = census.drop('income_bracket', axis=1)
y_labels = census['income_bracket']

X_train, X_test, y_train, y_test = train_test_split(X_data, y_labels, test_size=0.3, random_state=101)

print('Shape of X_train: ', X_train.shape)
print('Shape of y_train: ', y_train.shape)
print('Shape of X_test: ', X_test.shape)
print('Shape or y_test: ', y_test.shape)

Shape of X_train:  (22792, 13)
Shape of y_train:  (22792,)
Shape of X_test:  (9769, 13)
Shape or y_test:  (9769,)

In [9]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [11]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [13]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss= tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [16]:
feature_columns = [gender, occupation, marital_status, relationship, education, workclass, native_country, age, education_num,
capital_gain, capital_loss, hours_per_week]

In [17]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=100, num_epochs=None, shuffle=True)

In [18]:
model = tf.estimator.LinearClassifier(feature_columns=feature_columns)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp7oemlzrg
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp7oemlzrg', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

In [20]:
model.train(input_fn=input_func, steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Restoring parameters from /tmp/tmp7oemlzrg/model.ckpt-5000
INFO:tensorflow:Saving checkpoints for 5001 into /tmp/tmp7oemlzrg/model.ckpt.
INFO:tensorflow:loss = 54.124603, step = 5001
INFO:tensorflow:global_step/sec: 375.655
INFO:tensorflow:loss = 60.371967, step = 5101 (0.268 sec)
INFO:tensorflow:global_step/sec: 345.959
INFO:tensorflow:loss = 43.085876, step = 5201 (0.289 sec)
INFO:tensorflow:global_step/sec: 373.113
INFO:tensorflow:loss = 32.791237, step = 5301 (0.269 sec)
INFO:tensorflow:global_step/sec: 296.583
INFO:tensorflow:loss = 43.14972, step = 5401 (0.335 sec)
INFO:tensorflow:global_step/sec: 298.128
INFO:tensorflow:loss = 40.020203, step = 5501 (0.340 sec)
INFO:tensorflow:global_step/sec: 320.93
INFO:tensorflow:loss = 63.66205, step = 5601 (0.309 sec)
INFO:tensorflow:global_step/sec: 320.181
INFO:tensorflow:loss = 43.798668, step = 5701 (0.312 sec)
INFO:tensorflow:global_step/sec: 294.544
INFO:tensorflow:loss = 40.722305, step = 5801 (0.339 sec)
INFO:tensorflow:global_step/sec: 381.531
INFO:tensorflow:loss = 42.859337, step = 5901 (0.263 sec)
INFO:tensorflow:global_step/sec: 298.818
INFO:tensorflow:loss = 69.41277, step = 6001 (0.336 sec)
INFO:tensorflow:global_step/sec: 285.753
INFO:tensorflow:loss = 55.43611, step = 6101 (0.349 sec)
INFO:tensorflow:global_step/sec: 324.377
INFO:tensorflow:loss = 90.007965, step = 6201 (0.308 sec)
INFO:tensorflow:global_step/sec: 319.796
INFO:tensorflow:loss = 32.750885, step = 6301 (0.312 sec)
INFO:tensorflow:global_step/sec: 289.573
INFO:tensorflow:loss = 54.629215, step = 6401 (0.345 sec)
INFO:tensorflow:global_step/sec: 365.452
INFO:tensorflow:loss = 42.279823, step = 6501 (0.275 sec)
INFO:tensorflow:global_step/sec: 308.035
INFO:tensorflow:loss = 42.4827, step = 6601 (0.324 sec)
INFO:tensorflow:global_step/sec: 385.192
INFO:tensorflow:loss = 62.077118, step = 6701 (0.259 sec)
INFO:tensorflow:global_step/sec: 413.467
INFO:tensorflow:loss = 40.772778, step = 6801 (0.241 sec)
INFO:tensorflow:global_step/sec: 458.689
INFO:tensorflow:loss = 92.79573, step = 6901 (0.217 sec)
INFO:tensorflow:global_step/sec: 454.555
INFO:tensorflow:loss = 62.775925, step = 7001 (0.221 sec)
INFO:tensorflow:global_step/sec: 476.257
INFO:tensorflow:loss = 101.37522, step = 7101 (0.210 sec)
INFO:tensorflow:global_step/sec: 462.712
INFO:tensorflow:loss = 32.126823, step = 7201 (0.216 sec)
INFO:tensorflow:global_step/sec: 284.119
INFO:tensorflow:loss = 197.96198, step = 7301 (0.353 sec)
INFO:tensorflow:global_step/sec: 394.866
INFO:tensorflow:loss = 37.271812, step = 7401 (0.251 sec)
INFO:tensorflow:global_step/sec: 399.202
INFO:tensorflow:loss = 33.952156, step = 7501 (0.252 sec)
INFO:tensorflow:global_step/sec: 458.653
INFO:tensorflow:loss = 29.26712, step = 7601 (0.217 sec)
INFO:tensorflow:global_step/sec: 464.671
INFO:tensorflow:loss = 28.186047, step = 7701 (0.214 sec)
INFO:tensorflow:global_step/sec: 435.157
INFO:tensorflow:loss = 40.31858, step = 7801 (0.231 sec)
INFO:tensorflow:global_step/sec: 463.178
INFO:tensorflow:loss = 31.715755, step = 7901 (0.216 sec)
INFO:tensorflow:global_step/sec: 459.882
INFO:tensorflow:loss = 72.328705, step = 8001 (0.218 sec)
INFO:tensorflow:global_step/sec: 456.457
INFO:tensorflow:loss = 40.8832, step = 8101 (0.219 sec)
INFO:tensorflow:global_step/sec: 470.721
INFO:tensorflow:loss = 38.916634, step = 8201 (0.212 sec)
INFO:tensorflow:global_step/sec: 467.041
INFO:tensorflow:loss = 48.15116, step = 8301 (0.214 sec)
INFO:tensorflow:global_step/sec: 470.803
INFO:tensorflow:loss = 250.49028, step = 8401 (0.213 sec)
INFO:tensorflow:global_step/sec: 442.615
INFO:tensorflow:loss = 108.91904, step = 8501 (0.225 sec)
INFO:tensorflow:global_step/sec: 477.908
INFO:tensorflow:loss = 33.868877, step = 8601 (0.210 sec)
INFO:tensorflow:global_step/sec: 480.223
INFO:tensorflow:loss = 37.30468, step = 8701 (0.208 sec)
INFO:tensorflow:global_step/sec: 462.568
INFO:tensorflow:loss = 34.179462, step = 8801 (0.215 sec)
INFO:tensorflow:global_step/sec: 442.836
INFO:tensorflow:loss = 39.643356, step = 8901 (0.227 sec)
INFO:tensorflow:global_step/sec: 470.708
INFO:tensorflow:loss = 58.83882, step = 9001 (0.212 sec)
INFO:tensorflow:global_step/sec: 479.89
INFO:tensorflow:loss = 40.674313, step = 9101 (0.210 sec)
INFO:tensorflow:global_step/sec: 481.11
INFO:tensorflow:loss = 48.190353, step = 9201 (0.207 sec)
INFO:tensorflow:global_step/sec: 460.922
INFO:tensorflow:loss = 26.533443, step = 9301 (0.216 sec)
INFO:tensorflow:global_step/sec: 423.667
INFO:tensorflow:loss = 80.19379, step = 9401 (0.237 sec)
INFO:tensorflow:global_step/sec: 466.581
INFO:tensorflow:loss = 32.61087, step = 9501 (0.214 sec)
INFO:tensorflow:global_step/sec: 472.178
INFO:tensorflow:loss = 58.980293, step = 9601 (0.212 sec)
INFO:tensorflow:global_step/sec: 448.89
INFO:tensorflow:loss = 164.98479, step = 9701 (0.223 sec)
INFO:tensorflow:global_step/sec: 474.316
INFO:tensorflow:loss = 49.357445, step = 9801 (0.211 sec)
INFO:tensorflow:global_step/sec: 453.699
INFO:tensorflow:loss = 30.764729, step = 9901 (0.220 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /tmp/tmp7oemlzrg/model.ckpt.
INFO:tensorflow:Loss for final step: 27.022501.

In [21]:
pred_func = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=len(X_test), shuffle=False)

In [22]:
predictions = list(model.predict(input_fn=pred_func))

INFO:tensorflow:Restoring parameters from /tmp/tmp7oemlzrg/model.ckpt-10000

In [23]:
predictions[0]

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.3001432], dtype=float32),
 'logits': array([-0.8466159], dtype=float32),
 'probabilities': array([0.69985676, 0.3001432 ], dtype=float32)}

In [26]:
results = []
for pred in predictions:
    results.append(pred['class_ids'][0])
results[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [28]:
print(classification_report(y_test, results))

             precision    recall  f1-score   support

          0       0.87      0.93      0.90      7436
          1       0.71      0.55      0.62      2333

avg / total       0.83      0.84      0.83      9769